<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>{% block head_title %}{% endblock %}Event Management</title>
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class='container-fluid'>
         {% block content %}
            {% endblock %}
    </div>

    {% include 'js.html' %}
  </body>
  <script link='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'/>
    {% block script %}
    {% endblock %}
</html>
