{% extends "base.html" %}


{% block content %}


    <div class='row'>


     {% include 'event/list-inline.html' with event_post=object detail=True %}

    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
         <div class='col-12'>
            <a href='{{ object.get_edit_url }}'>Edit</a>
            <a href='{{ object.get_delete_url }}'>Delete</a>
            <a href='{{ object.get_archive_url }}'>Archive</a>
        </div>
        {% endif %}
    {% endif %}

    </div>
{% endblock %}
