 <div class='col-12 col-md-10 mb-3 mx-auto'>
 <div class='card'>
    <div class='card-body'>
        {% if event_post.image %}
            <a href="{{ event_post.get_absolute_url }}">
                    <img src="{{ event_post.image.url }}" class='card-img-top' />
            </a>
        {% endif %}
        <h5 class='card-title'>{{ event_post.title }}</h5>
        <p class='card-text'>
            <small class='text-muted'>{{ event_post.publish_date }}</small>
            {% if truncate %}
                {{ event_post.content|linebreaks|truncatewords:30 }}
            {% else %}
                {{ event_post.content|linebreaks }}
            {% endif %}
        </p>
        <a href="{{ event_post.get_absolute_url }}">View</a>
        <!--{% if not detail %}
            {% if not event_post.publish_date %} Draft {% endif %}


        {% endif %}-->
    </div>

 </div>
</div>
